.App {
	text-align: center;
	background-color: whitesmoke;
}

.icons-container {
	justify-content: center;
}

.icons-container .icon-container {
	display: inline-flex;
	width: 100px;
	justify-content: center;
}